<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device.width, initial-scale=1.0">
    <meta name="description"
          content="IPSC (International Practical Shooting Confederation) – Discover all registered matches worldwide and locate the ones nearest to you!">
    <title>Home</title>

    <link rel="icon" type="image/x-icon" th:href="@{/favicon_io/favicon.ico}">
    <link rel="icon" type="image/png" th:href="@{/favicon_io/favicon-32x32.png}" sizes="32x32">
    <link rel="icon" type="image/png" th:href="@{/favicon_io/favicon-16x16.png}" sizes="16x16">
    <link rel="stylesheet" th:href="@{/CSS/style.css}">
</head>


<body class="home">
<main>
    <section>
        <header>
            <nav>
                <a href="https://github.com/Dennois91/ipsc_match_finder" target="_blank" rel="noreferrer">
                    &rarr; GitHub
                </a>
            </nav>
            <h1>International Practical Shooting Confederation Match Locator</h1>
            <div class="fader"></div>
        </header>
    </section>

    <div class="circle-image"></div>

    <div>
        <p>Jag är en erfaren pris jägare med ett rykte som går före mig. Jag är känd för att alltid leverera mitt
            byte, oavsett hur farligt uppdraget är eller hur svårt det är att hitta min måltavla. Jag har rest över hela
            galaxen och har alltid lyckats ta mig ur farliga situationer med hjälp av mina förmågor och min envishet.
            När jag inte är på jakt efter mitt nästa byte, tränar jag min vapenhantering och min kampsport. Min
            utrustning är mitt liv och jag är alltid förberedd på vad som helst.</p>
    </div>
    <hr>
    <footer>
            Data sourced from:
        <nav>
            <a href="https://ourairports.com/data/" target="_blank" rel="noopener noreferrer">OurAirports</a> for
            airport locations
            <a href="https://www.ipsc.org/" target="_blank" rel="noopener noreferrer">IPSC.org</a> for match info
            scraping
            <a href="https://nominatim.openstreetmap.org/" target="_blank" rel="noopener noreferrer">Nominatim
            OpenStreetMap</a> for geocoding services
        </nav>
    </footer>

</main>

</body>
</html>